#foreach ($component in $components)
  #if(${component.type} == "MASTER")
    #set($master_component = $component)
    #break
  #end
#end

<template>
    <view class="content">
<!--        <view class="header">
            <image src="../../static/shilu-login/logo.png"></image>
        </view> -->

        <view class="list">
#foreach($field in $master_component.fields)
            <view class="list-call">
                <uni-icon type="${field.view.icon}" size="24"></uni-icon>
                <input class="biaoti" v-model="record.${field.classname}" type="text" placeholder="${field.view.placeholder}" />
            </view>
#end

        </view>
#set($action_id = 0)
#foreach($action in $master_component.actions)
#set($action_id = $action_id + 1)
        <view class="dlbutton" hover-class="dlbutton-hover" @tap="doAction$action_id()">
            <text>${action.label}</text>
        </view>
#end
        <view class="xieyi">
            <navigator url="forget" open-type="navigate">忘记密码</navigator>
            <text>|</text>
            <navigator url="reg" open-type="navigate">注册账户</navigator>
        </view>
    </view>
</template>

<script>
    import uniIcon from "@/components/uni-icon/uni-icon.vue"
    export default {
        components: {uniIcon},
        onLoad(){
            // tha = this;
        },
        data() {
            return {
                record : {}
            };
        },
        methods: {
#set($action_id = 0)
#foreach($action in $master_component.actions)
#set($action_id = $action_id + 1)
    #if(${action.type} == 'DO-SERVICE-AND-OPEN-VIEW')

            doAction${action_id}() {
                this.${usd}http.request({
                    url: "${action.params.url}",
                    method: "${action.params.method}",
                    data: ${action.params.data} ,
                    success: (e) => {
                        console.log(66, e)
                        let token = e.data.result.token;
                        console.log("token:" + token);
                        if (token) {
                            this.${usd}http.saveToken(token);
                        }
                        uni.navigateTo({
                            url: '${action.params.view}'
                        });
                    }
                })
            }
    #end
#end
        }
    }
</script>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .header {
        width:161upx;
        height:161upx;
        background:rgba(63,205,235,1);
        box-shadow:0upx 12upx 13upx 0upx rgba(63,205,235,0.47);
        border-radius:50%;
        margin-top: 30upx;
        margin-left: auto;
        margin-right: auto;
    }
    .header image{
        width:161upx;
        height:161upx;
        border-radius:50%;
    }

    .list {
        display: flex;
        flex-direction: column;
        padding-top: 50upx;
        padding-left: 70upx;
        padding-right: 70upx;
    }
    .list-call{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100upx;
        color: #333333;
        border-bottom: 1upx solid rgba(230,230,230,1);
    }
    .list-call .img{
        width: 40upx;
        height: 40upx;
    }
    .list-call .biaoti{
        flex: 1;
        text-align: left;
        font-size: 32upx;
        line-height: 100upx;
        margin-left: 16upx;
    }

    .dlbutton {
        color: #FFFFFF;
        font-size: 34upx;
        width:470upx;
        height:100upx;
        background:linear-gradient(-90deg,rgba(63,205,235,1),rgba(188,226,158,1));
        box-shadow:0upx 0upx 13upx 0upx rgba(164,217,228,0.2);
        border-radius:50upx;
        line-height: 100upx;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100upx;
    }
    .dlbutton-hover {
        background:linear-gradient(-90deg,rgba(63,205,235,0.9),rgba(188,226,158,0.9));
    }
    .xieyi{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30upx;
        margin-top: 80upx;
        color: #FFA800;
        text-align: center;
        height: 40upx;
        line-height: 40upx;
    }
    .xieyi text{
        font-size: 24upx;
        margin-left: 15upx;
        margin-right: 15upx;
    }
</style>
}