#foreach ($component in $components)
  #if(${component.type} == "MODAL")
    #set($modal_component = $component)
    #break
  #end
#end

<template>
    <a-modal
            :title="title"
            :width="#if(${modal_component.view.width})${modal_component.view.width}#else
800#end"
            :visible="visible"
            :confirmLoading="confirmLoading"
            @ok="handleOk"
            @cancel="handleCancel"
            cancelText="关闭">

        <a-spin :spinning="confirmLoading">
            <a-form :form="form">
                <a-row :gutter="16">
#foreach($field in $modal_component.fields)
#if(${field.view.span} <= 6)
  #set($labelCol = 12)
  #set($wrapperCol = ${field.view.span} * 4 - 12)
                  <a-col :span="6">#elseif(${field.view.span} <=12)
  #set($labelCol = 6)
  #set($wrapperCol = ${field.view.span} * 2 - 6)
                  <a-col :span="12">#elseif(${field.view.span} <=18)
  #set($labelCol = 4)
  #set($tmp1 = ${field.view.span} * 1.33 - 4)
  #set($wrapperCol = $number.format("#0",$tmp1))
                  <a-col :span="18">#elseif(${field.view.span} <=24)
  #set($labelCol = 3)
  #set($wrapperCol = ${field.view.span} - 3)
                  <a-col :span="24">#else
  #set($labelCol = 3)
  #set($wrapperCol = 21)
<a-col :span="24">#end

                    <a-form-item
                        :labelCol="{span: $labelCol}"
                        :wrapperCol="{span: $wrapperCol}"
                        label="${field.label}"
                        hasFeedback >
#if(${field.inputType} == "select")
                        <a-select v-decorator="['${field.classname}', {}]" #if(${field.view.placeholder}) placeholder="${field.view.placeholder}"#end>
                            <a-select-option v-for="d in selectOptions['${field.dictName}']" :key="d.value">{{d.text}}</a-select-option>
                        </a-select>
#else
                        <a-input #if(${field.view.placeholder}) placeholder="${field.view.placeholder}"#end v-decorator="['${field.classname}', {}]" />
#end
                    </a-form-item>
                  </a-col>
  #if(${field.view.newLine})
                </a-row>
                <a-row :gutter="16">
  #end
#end
                </a-row>
            </a-form>
        </a-spin>
    </a-modal>
</template>

<script>
    import { httpAction } from '@/api/manage'
    import {dicts} from '@/config/MdaDictionary.js'
    // import pick from 'lodash.pick'
    // import moment from "moment"

    export default {
        name: "${className}Modal",
        data () {
            return {
                title:"操作",
                visible: false,
                selectOptions: {},
                model: {},

                confirmLoading: false,
                form: this.$form.createForm(this),
                validatorRules:{
                },
                url: {
                    add: "/${modal_component.module}/${modal_component.classname}/add",
                    edit: "/${modal_component.module}/${modal_component.classname}/edit",
                },
            }
        },
        created () {
            this.selectOptions = dicts;
        },
        methods: {
            add () {
                this.edit({});
            },
            edit (record) {
                this.form.resetFields();
                this.model = Object.assign({}, record);
                this.visible = true;
                this.$nextTick(() => {
#foreach($field in $modal_component.fields)
                    #if(${field.type} == "datetime")
                        this.form.setFieldsValue({${field.classname}:this.model.${field.classname}?moment(this.model.${field.classname},'YYYY-MM-DD HH:mm:ss'):null})
                    #elseif(${field.type} == "date")
                        this.form.setFieldsValue({${field.classname}:this.model.${field.classname}?moment(this.model.${field.classname}):null})
                    #else
                        this.form.setFieldsValue({${field.classname}:this.model.${field.classname}})
                    #end
#end
                });

            },
            close () {
                this.$emit('close');
                this.visible = false;
            },
            handleOk () {
                const that = this;
                // 触发表单验证
                this.form.validateFields((err, values) => {
                    if (!err) {
                        that.confirmLoading = true;
                        let httpurl = '';
                        let method = '';
                        if(!this.model.${modal_component.primaryKeyField.classname}){
                            httpurl+=this.url.add;
                            method = 'post';
                        }else{
                            httpurl+=this.url.edit;
                            method = 'put';
                        }
                        let formData = Object.assign(this.model, values);
                        //时间格式化
#foreach($field in $modal_component.fields)
                      #if(${field.type} == "datetime")
                          formData.${field.classname} = formData.${field.classname}?formData.${field.classname}.format('YYYY-MM-DD HH:mm:ss'):null;
                      #elseif(${field.type} == "date")
                          formData.${field.classname} = formData.${field.classname}?formData.${field.classname}.format():null;
                      #else
                      #end
#end
                        console.log(formData)
                        httpAction(httpurl,formData,method).then((res)=>{
                            if(res.success){
                                that.${usd}message.success(res.message);
                                that.${usd}emit('ok');
                            }else{
                                that.${usd}message.warning(res.message);
                            }
                        }).finally(() => {
                            that.confirmLoading = false;
                            that.close();
                        })



                    }
                })
            },
            handleCancel () {
                this.close()
            },


        }
    }
</script>

<style scoped>

</style>